.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Set the height to 50% of the viewport height */
    margin: 20px; /* Add margin to create space between cards */
}
.custom-card {
    width: 450px;
    position: relative;
    
}

    .custom-card .card-header {
        background-color: #efdbc5; /* Replace with your desired background color */
        
    }

.centered-card {
    margin: 20px; /* Add margin to create space between cards */
    
}

.centered-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Optional: Center vertically within the viewport */

}
.custom-button {
    background-color: black; /* Replace with your desired color code */
    color: white; /* Set the text color */
}
@media (max-width: 767px) {
    .centered-card {
        height: auto; /* Remove the fixed height for mobile */
        margin: 20px; /* Adjust margin for space between cards on mobile */
    }

    .centered-card-container {
        flex-direction: column; /* Stack the cards vertically */
        height: 100vh; /* Optional: Center vertically within the viewport */
    }

    .custom-card {
        width: 100%; /* Make the card width 100% on mobile */
        margin-bottom: 20px; /* Add margin to create space between cards on mobile */
    }
}

